<div class=" banner">
    <nav class="navbar">
      <a style="text-decoration: none;" routerLink="/home"><h2 class="logo">Estate<span>Find</span></h2></a>
      
     
      <ul class="mb-2">
         <li><a routerLink="/home">Home</a></li> 
      
         <li><a routerLink="/about">About</a></li> 
         <li><a routerLink="/contact">Contact</a></li>
        
      </ul>
      
  </nav>
  <div class="content bg-light  p-4 text-center" style="border-radius: 5%; width: 70%; margin: auto; font-weight: bold; margin-top: 150px;">
    <h3 class="m-4 text-center" style="font-weight: bold; color: rgb(220, 156, 18) ;">404 Not Found</h3>
    <p class="m-3 text-center">Go Back to The Home Page  </p>
    <button type="button" routerLink="/home"  >Home Page</button>

   
</div>
  </div>
